body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #200200;
}

a {
  text-decoration: none;
  color: #252525;
}

.barcont{
  margin-bottom: 20px;
}

.appbar{
  display: flex;
  justify-content:space-between;
}

.authuser{
    justify-content:space-between;
    align-items: center;
    display: flex;
}
.userName{
  margin-right: 15px;
}

.loading {
  background-color: 'blue';
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
}
.nomatchbtn{
  align-self: center;
  margin: 20px;
}

.login {
  width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.75);
  align-content: center;
}
.btnnewUser{
  align-self: center;
  margin-bottom: 20px;
}

.bar {
  background-color:#e0e0d1;
  height: 50px;
}

.logincons{
  width: 200%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-self: center;
}
.newuserbar {
  background-color:#e0e0d1;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}
.newAvatar{
  width: 100px;
  margin: 10px;
}
.newloginmenu{
  width: 80px;
  align-self: center;
}
.newUserField{
  width: 200%;
  align-self: center;
  margin-left: 15px;
  margin-right: 15px;
}
#username{
  font-size: 20px;
  margin:8px;
}
.newlogincons{
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 15px;
}
.loginmenu{
  display: flex;
  flex-direction: row;

}
.headerNew{
  margin-left: 70px;
  margin-right:auto;
}
.menuitem{
  min-width: 200px;
  margin-left: 20px;
  align-self: center;
  font-size: 18px;
}
.center {
  text-align: center;
}
.logbtn{
  width: 300px;
  align-self: center;
  margin-bottom: 20px;
}
.loginbtn{
  width: 300px;
  align-self: center;
  margin-bottom: 20px;
}

.poll {
  display: flex;
  flex-direction: row;
    align-self: center;
}

.pollitem {
  display: flex;
  flex-direction: row;
}
/* LeaderBoard */
.leader{
    margin-left: 15px;
    align-self: center;
}
.table{
  	box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.75);
}

.dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #ef6c00;
  align-self: center;
  margin-top: 30px;
}

#option-one, #option-two{
    font-size: 20px;
}
.addpoll {
  width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.75);
}

.addbar {
  background-color:#e0e0d1;
  height: 50px;
}

.addfields{
  width: 200%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-self: center;
}
.addbtn{
  width: 200px;
  align-self: center;
  margin-bottom: 20px;
}

.btn{
  width: 200px;
  align-self: center;
  margin-bottom: 20px;
}

/*======== home =======*/
.homegrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.homepoll{
  width: 425px;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.75);
}
.homepollU{
  width: 425px;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  box-shadow: 10px 10px 29px 0px rgba(255,153,0,1);
}
.homeQuestion{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20px;
}
.addBarPoll {
  background-color:#e0e0d1;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}
.homehead{
  margin-bottom: 10px;
  font-weight: bold;
}
.hometxt{
  color: #808080;
  margin-bottom: 10px;
}
.pollfooter{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #808080;
}
.pollheader{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
.appIcon{
  margin: 0 10px 0 10px;
}
.viewbtn{
  width:75%;
}
/*     View Poll */
.viewpoll {
  width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.75);
}

.optionOneBar, .optionTwoBar{
  width: 100%;
  line-height: 30px;
  background-color: #ddd;
  border-radius: 15px;
  margin-right: 10px;
  color: #fff;
  text-align: center;
}

.optionOneCount, .optionTwoCount{
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  background-color: #f90;
}
.pollQuestions{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 5px;
}
.optionOneGroup, .optionTwoGroup{
  border: solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.authorinfo{
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.polldate{
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  color: #808080;
}
.pollinfo{
  color: #000;
  margin-bottom: 10px;
}
.pollct{
  color: #808080;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
}
.badge{
  margin-bottom: 10px;
}

.smallIcon, .smallIconNo{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  margin-right: 5px;
  margin-left: 5px;
}
.smallIconNo{
  color: #bbb;
  background-color: #ddd;
}
.smallIcon {
  color: #40bf40;
  background-color: #fff;
}

.userchip, .userchipno{
  height: 30px;
  width:inherit;
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  color: #fff;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 5px;
}
.userchipno{
  background-color: #aaa;
}
.userchip{
  background-color: #2e5cb8;
}
.chiptxt{
  margin: 0 5px 0 10px;
}
.chipWAtxt{
  margin: 0 10px 0 5px;
}
.voterGroup{
  display: inline-flex;
  flex-direction: row;
}

.optionQuestion{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.qinfo{
  color: #000;

  line-height: 30px;
}
